<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>INFO</title>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
        body { background: #ECECEC; font-family: 'JetBrains Mono'; padding: 20px; }
        .card { border: 4px solid black; padding: 20px; background: #F7D32C; box-shadow: 8px 8px 0px black; margin-bottom: 20px; }
        a { color: black; font-weight: bold; }
    </style>
</head>
<body>
    <a href="/" style="display:block; margin-bottom:20px;">< BACK TO HOME</a>
    
    <div class="card">
        <h2 class="uppercase">Tentang Aplikasi</h2>
        <p>CAA X ADZAN adalah alat utilitas global untuk memantau waktu sholat dan live stream masjid.</p>
    </div>

    <div class="card" style="background: white;">
        <h3 class="uppercase">Developer</h3>
        <p>CaaCyberr404</p>
        <br>
        <a href="https://t.me/CaaCyberr404">Telegram Channel</a>
    </div>
</body>
</html>
